<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Hello, world!</title>
    <style type="text/css">
      .contain{
        padding-left: 5%;
        padding-right: 5%;
      }
      .middle{
        text-align: center;
      }
    </style>
  </head>
  <body>
  <div class="contain">


    <% if(Flag==false){  %>
      <h1>No such User : <%=Name%></h1>
    <% }else{ %>







    <br>
    <h1 class="middle">Welcome <%= Name %> </h1>
    <h1>All Tables</h1>

    <a href='http://localhost:3000/AT/1'><button class="btn btn-primary">Batch</button></a>
    <a href='http://localhost:3000/AT/2'><button class="btn btn-primary">Distribution</button></a>
    <a href='http://localhost:3000/AT/3'><button class="btn btn-primary">Distributor</button></a>
    <a href='http://localhost:3000/AT/4'><button class="btn btn-primary">Doctor</button></a>
    <a href='http://localhost:3000/AT/5'><button class="btn btn-primary">Dose</button></a>
    <a href='http://localhost:3000/AT/6'><button class="btn btn-primary">Hospital</button></a>
    <a href='http://localhost:3000/AT/7'><button class="btn btn-primary">Manufacturer</button></a>
    <a href='http://localhost:3000/AT/8'><button class="btn btn-primary">People</button></a>
    <a href='http://localhost:3000/AT/9'><button class="btn btn-primary">Status</button></a>

    <br><br>
    <h1>Some Standard Queries</h1>

    <a href='http://localhost:3000/SQ/1'><button class="btn btn-primary">Get all the people’s phone number who have to still get their 2nddose and have gotten their first dose before 2021-03-1</button></a><br><br>
    <a href='http://localhost:3000/SQ/2'><button class="btn btn-primary">Find the total no of doses received for a hospital</button></a><br><br>
    <a href='http://localhost:3000/SQ/3'><button class="btn btn-primary">Arrange the manufacturer in maximum manufacturedbatches</button></a><br><br>
    <a href='http://localhost:3000/SQ/4'><button class="btn btn-primary">Finding the number of people who have taken eitherdose</button></a>

    <br><br>
    <h1>Make Your Own Query</h1>
    <form action="http://localhost:3000/Table" method="GET">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter Your Query</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='my_query'></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    <%}%>


  </div>
  </body>
</html>